<section class="opening-button-wrapper">
	<a href="#" class="button">
		<span class="initial-message button-message">Click Me</span>
		<span class="secondary-message button-message">Check it out!</span>
	</a>
</section>

<section class="lower-wrapper">

  <div class="modal-button-container">
    <a href="#openModal" class="modal-button">Open Modal</a>

    <div id="openModal" class="modalDialog">
      <div>
        <a href="#close" title="Close" class="close">X</a>
        <h2>Modal Box</h2>
        <p>This is a sample modal box that can be created using the powers of CSS3.</p>
        <p>You could do a lot of things here like have a pop-up ad that shows when your website loads, or create a login/register form for users.</p>
      </div>
    </div>

  </div>
  <div class="intro-div pulse">
    <p>Welcome to the show</p>
  </div>

  <div class="description-div stretch">
    <p>There are all sort of things to show you!</p>
  </div>

  <div class="modal"> HERE IS THE MODAL</div>
  </section