<div class="css-fun-page-wrapper">
  <section class="opening-button-wrapper">
   <a href="#" class="click-me-button">
    <span class="initial-message click-me-button-message">Click Me</span>
    <span class="secondary-message click-me-button-message">Check it out!</span>
  </a>
  <a href="#or-me-button" class="or-me-button">
    <span class="or-me-button-message">Or Click me</span>
  </a>
  <div id="or-me-button">
    <a href="#close" title="close" class="close"><i class="fa fa-times" aria-hidden="true"></i></a>

    <%= render "or_me_button_message" %>

  </div>
</section>

<section class="lower-wrapper">
  <a href="#show-overlay" class="show-overlay-button" >Click this link for action</a>

  <div id="show-overlay"  class="outer-overlay">
    <div class="overlay">
      <div class="inner-overlay">
        <a href="#close" title="close" class="close"><i class="fa fa-times" aria-hidden="true"></i></a>

        <%= render "overlay" %>

      </div>
    </div>
  </div>
  <div class="intro-div pulse">
    <p>Welcome to the show</p>
  </div>

  <div class="welcome-div stretch">
    <p>There are all sort of things to show you!</p>
  </div>

</section>
</div>