<div class="wrapper">
	<a href="#" class="button">
		<span class="top content">Click Me</span>
		<span class="bottom content">Click me now!</span>
	</a>

  <div class="bodydiv pulseelement">
    <p>Watch how the colors change</p>
  </div>

    <div class="innerdiv stretchelement">
    <p></p>
  </div>
</div>