<section class="opening-button-wrapper">
	<a href="#" class="button">
		<span class="initial-message button-message">Click Me</span>
		<span class="secondary-message button-message">Check it out!</span>
	</a>
</section>

<section class="lower-wrapper">
  <a href="#show-something" class="show-directions">Click this link for action</a>
  <div id="show-something"  class="outer-wrapper">
    <div class="directions">
      <a href="#close" title="close" class="close">X</a>
      <div class="inner-directions">
        <p>Information</p>
      </div>
    </div>
  </div>
  <div class="intro-div pulse">
    <p>Welcome to the show</p>
  </div>

  <div class="description-div stretch">
    <p>There are all sort of things to show you!</p>
  </div>

</section>