<div class="wrapper">
	<a href="#" class="button">
		<span class="top content">Click Me</span>
		<span class="bottom content">Check it out!</span>
	</a>

  <div class="bodydiv pulseelement">
    <p>Welcome to the show</p>
  </div>

    <div class="innerdiv stretchelement">
    <p>There are all sort of things to show you!</p>
  </div>
</div>