<div class="css-fun-page-wrapper">
  <div class="opening-button-wrapper row">
    <p><%= link_to "return to home page", root_path %></p>
    <div class="col-md-12">
      <a href="#" class="click-me-button">
        <span class="initial-message click-me-button-message">Click Me</span>
        <span class="secondary-message click-me-button-message">Check it out!</span>
      </a>
      <a href="/samples/jsfun" class="or-me-button">
        <span class="or-me-button-message">Or Click me for some JavaScript!</span>
      </a>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <a href="#show-modal" class="show-directions-button" style="margin-left: 66px;">Click this link for action</a>
    </div>
    <div class="col-md-12">
      <div id="show-modal"  class="outer-wrapper">
        <div class="directions">
          <div class="inner-directions">
            <a href="#close" title="close" class="close"><i class="fa fa-times" aria-hidden="true"></i></a>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="welcome-div pulse">
          <div class="spinning-heart"><i class="fa fa-heart-o fa-5x" aria-hidden="true"></i></div>
          <p>Welcome to the show</p>
        </div>
      </div>
      <div class="col-md-12">

        <div class="description-div stretch">
          <p>There are all sort of things to show you!</p>
        </div>
      </div>
    </div>
  </div>


  <div class="small-box-wrapper">
    <div class="small-boxes">
      <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100">
        <circle cx="50" cy="50" r="45" fill="#2ecc71"/>
      </svg>
    </div>
    <div class="small-boxes">
      <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100">
        <circle cx="50" cy="50" r="45" fill="#2ecc71"/>
      </svg>
    </div>
    <div class="small-boxes">
      <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100">
        <circle cx="50" cy="50" r="45" fill="#2ecc71"/>
      </svg>
    </div>
    <div class="small-boxes">
      <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100">
        <circle cx="50" cy="50" r="45" fill="#2ecc71"/>
      </svg>
    </div>
    <div class="small-boxes">
      <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100">
        <circle cx="50" cy="50" r="45" fill="#2ecc71"/>
      </svg>
    </div>
    <div class="small-boxes">
      <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100">
        <circle cx="50" cy="50" r="45" fill="#2ecc71"/>
      </svg>
    </div>
    <div class="small-boxes">
      <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100">
        <circle cx="50" cy="50" r="45" fill="#2ecc71"/>
      </svg>
    </div>
    <div class="small-boxes">
      <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100">
        <circle cx="50" cy="50" r="45" fill="#2ecc71"/>
      </svg>
    </div>
    <div class="small-boxes">
      <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100">
        <circle cx="50" cy="50" r="45" fill="#2ecc71"/>
      </svg>
    </div>
    <div class="small-boxes">
      <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100">
        <circle cx="50" cy="50" r="45" fill="#2ecc71"/>
      </svg>
    </div>
    <div class="small-boxes">
      <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100">
        <circle cx="50" cy="50" r="45" fill="#2ecc71"/>
      </svg>
    </div>
    <div class="small-boxes">
      <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100">
        <circle cx="50" cy="50" r="45" fill="#2ecc71"/>
      </svg>
    </div>    
    <div class="clear"></div>
  </div>
</div>  


<svg width="187px" height="181px" viewBox="0 0 187 181" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 43.2 (39069) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs>
        <polygon id="path-1" points="89.6160759 158.974375 73.0786193 172.51866 62.7193761 154.114106 42.2371812 160.968891 39.4552246 140.189705 17.7945254 139.429213 22.9655741 119.08174 3.05176798 110.80868 15.4774431 93.6409575 1.72084569e-15 78.9726527 18.0021453 67.3032773 9.05137964 48.220763 30.1987057 43.6257487 28.9834679 22.7062242 50.4199111 25.806153 57.1043259 5.87491604 75.9347758 16.2511255 89.6160759 0 103.297376 16.2511255 122.127826 5.87491604 128.812241 25.806153 150.248684 22.7062242 149.033446 43.6257487 170.180772 48.220763 161.230006 67.3032773 179.232152 78.9726527 163.754709 93.6409575 176.180384 110.80868 156.266578 119.08174 161.437626 139.429213 139.776927 140.189705 136.994971 160.968891 116.512776 154.114106 106.153532 172.51866"></polygon>
        <filter x="-2.7%" y="-2.6%" width="109.7%" height="110.4%" filterUnits="objectBoundingBox" id="filter-2">
            <feOffset dx="4" dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
        </filter>
    </defs>
    <g id="Page-4" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Star">
            <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
            <use fill="#F8E81C" fill-rule="evenodd" xlink:href="#path-1"></use>
        </g>
    </g>
</svg>