<div class="css-fun-page-wrapper">
  <div class="opening-button-wrapper row">
    <p><%= link_to "return to home page", root_path %></p>
    <div class="col-md-12">
      <a href="#" class="click-me-button">
        <span class="initial-message click-me-button-message">Click Me</span>
        <span class="secondary-message click-me-button-message">Check it out!</span>
      </a>
      <a href="/samples/jsfun" class="or-me-button">
        <span class="or-me-button-message">Or Click me</span>
      </a>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <a href="#show-modal" class="show-directions-button" style="margin-left: 66px;">Click this link for action</a>
    </div>
    <div class="col-md-12">
      <div id="show-modal"  class="outer-wrapper">
        <div class="directions">
          <div class="inner-directions">
            <a href="#close" title="close" class="close"><i class="fa fa-times" aria-hidden="true"></i></a>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="welcome-div pulse">
          <div class="spinning-heart"><i class="fa fa-heart-o fa-5x" aria-hidden="true"></i></div>
          <p>Welcome to the show</p>
        </div>
      </div>
      <div class="col-md-12">

        <div class="description-div stretch">
          <p>There are all sort of things to show you!</p>
        </div>
      </div>
    </div>
  </div>


  <div class="small-box-wrapper">
    <div class="small-boxes">
      <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100">
        <circle cx="50" cy="50" r="45" fill="#2ecc71"/>
      </svg>
    </div>
    <div class="small-boxes">
      <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100">
        <circle cx="50" cy="50" r="45" fill="#2ecc71"/>
      </svg>
    </div>
    <div class="small-boxes">
      <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100">
        <circle cx="50" cy="50" r="45" fill="#2ecc71"/>
      </svg>
    </div>
    <div class="small-boxes">
      <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100">
        <circle cx="50" cy="50" r="45" fill="#2ecc71"/>
      </svg>
    </div>
    <div class="small-boxes">
      <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100">
        <circle cx="50" cy="50" r="45" fill="#2ecc71"/>
      </svg>
    </div>
    <div class="small-boxes">
      <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100">
        <circle cx="50" cy="50" r="45" fill="#2ecc71"/>
      </svg>
    </div>
    <div class="small-boxes">
      <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100">
        <circle cx="50" cy="50" r="45" fill="#2ecc71"/>
      </svg>
    </div>
    <div class="small-boxes">
      <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100">
        <circle cx="50" cy="50" r="45" fill="#2ecc71"/>
      </svg>
    </div>
    <div class="small-boxes">
      <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100">
        <circle cx="50" cy="50" r="45" fill="#2ecc71"/>
      </svg>
    </div>
    <div class="small-boxes">
      <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100">
        <circle cx="50" cy="50" r="45" fill="#2ecc71"/>
      </svg>
    </div>
    <div class="small-boxes">
      <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100">
        <circle cx="50" cy="50" r="45" fill="#2ecc71"/>
      </svg>
    </div>
    <div class="small-boxes">
      <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100">
        <circle cx="50" cy="50" r="45" fill="#2ecc71"/>
      </svg>
    </div>    
    <div class="clear"></div>
  </div>
</div>  

