<section class="opening-button-wrapper">
	<a href="#" class="button">
		<span class="initial-message button-message">Click Me</span>
		<span class="secondary-message button-message">Check it out!</span>
	</a>
</section>

<section class="lower-wrapper">
  <a href="#show-something" class="show-directions-button">Click this link for action</a>
  <div id="show-something"  class="outer-wrapper">
    <div class="directions">
      <div class="inner-directions">
      <a href="#close" title="close" class="close"><i class="fa fa-times" aria-hidden="true"></i></a>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
      </div>
    </div>
  </div>
  <div class="intro-div pulse">
    <p>Welcome to the show</p>
  </div>

  <div class="description-div stretch">
    <p>There are all sort of things to show you!</p>
  </div>

</section>