<div class="wrapper">
	<a href="#" class="button">
		<span class="top content">Click Me</span>
		<span class="bottom content">Click me now!</span>
	</a>

  <div class="bodydiv">
    <p>I have more to say</p>
  </div>
</div>