<div class="container">

	<h1>How to Start Programming</h1>
	<h3>The Absolute Beginner's Guide</h3> 
	<h5>(Mac only)</h5>
	
	<br>
	<p><%= link_to "Return to the full list of samples", samples_path %></p>
	<br>

		<div>
			<h2>About This Guide</h2>
			<div>This guide takes you through ..... to begin programming. It will start at the very beginning and bring you up to speed so that taking other beginner or intermediate online course will be easier. </div>
			<br>
		</div>

		<div>
			<h2>Who is this Guide for</h2>
			<div>This book is meant for the absolute beginner. This would include a person without prior knowledge of computer programming. For example, a person who does not know what a terminal is, what a text editor is or how to open a file in their browser. </div>
			<br>
		</div>

		<div>
			<h2>The purpose of this guide</h2>
			<div>Many of the online programming tutorials assume that the user has a certain level of knowledge. However, this is not always the case. For an absolute beginner, approaching many of these online tutorials results in more questions. For examples, when beginning a beginner's HTML/CSS course on one of the popular tutorial sites, there is no direction on how to see the css changes. For example, how the files should be set up, where to open the file, how to run the command line to open these files. How the text editor, the terminal and the browser all relate to each other. This lack of direction is present again in more advanced topics, such as JavaScript tutorials. In order to maximize a JavaScript tutorials it's essential to know the relationship between the terminal, a text editor and the browser.</div>
			<br>
		</div>

		<h2>Important Terms</h2>
		<br>
		<div class="row add-border">
			<div class="col-md-6">
				Command Line
			</div>
			<div class="col-md-6 add-border-left">
				The location within the terminal screen where you type your commands.
			</div>
		</div>

		<div class="row add-border">
			<div class="col-md-6">
				Commands 
			</div>
			<div class="col-md-6 add-border-left">
				Lines of code you write that tell the computer what to do.
			</div>
		</div>

		<div class="row add-border">
			<div class="col-md-6">
				Terminal 
			</div>
			<div class="col-md-6 add-border-left">
				The terminal, which can also be called the <em>console</em> is a program that is already installed on your computer. It is your gateway to the inner workings of your computer. It could easily be compared to a remote control for a TV. In the same way that push button on remote control that results in the TV responding in an appropriate way, the same goes for the terminal (aka console). When you type certain commands into the terminal
			</div>
		</div>		

		<div class="row add-border">
			<div class="col-md-6">
				Console
			</div>
			<div class="col-md-6 add-border-left">
				This word is interchangeable with <em>terminal</em> (see definition above). I will use the word terminal going forward.
			</div>
		</div>

		<div class="row add-border">
			<div class="col-md-6">
				Browser 
			</div>
			<div class="col-md-6 add-border-left">
				This is the internet, or more accurately, the program you use to access the internet.
			</div>
		</div>	

		<div class="row add-border add-border-bottom">
			<div class="col-md-6">
				Text Editor 
			</div>
			<div class="col-md-6 add-border-left">
				There are dozens of these and most everyone you meet will have an opinion about the right one. A text editor for programming is not the same thing as TextEdit on your Mac. A text editor for proramming will have some built in features that will be helpful for formatting. Much like when you use Microsoft Word, there are built in formats, such as the first letter of every word after a period is automatically capitalized. The same sort of automatic formatting is available in a text editor for programming, except that the formatting is specific to the different programming languages. The basic formatting will happen automatically and it will be good enough for the purposes of this tutorial. In the future, you can always edit the setting in the text editor to fit wiht your needs and likes. I suggest you use one that is free for now. You can always upgrade later once you know more and are able to really do research to figure out which editor is best for your needs and style. For beginners, I recommend Sublime Text because there is a free trial and it is easy to use. Visit https://www.sublimetext.com/3 and click on this link <img>put image here</img> and the program will download automatically.
			</div>
		</div>
		<br>

		<h2>Table of Contents</h2>

		<div>
			Chapter 1: The terminal
			<ul>
				<li>Section 1.1: What is the terminal?</li>
				<li>Section 1.2: How to open the terminal</li>
				<li>Section 1.3: How to enter commands in the terminal </li>
				<li>Section 1.4: Basic, helpful commands for the terminal</li>
			</ul>

			Chapter 2: The text editor
			<ul>
				<li>Section 2.1: What is a text editor?</li>
				<li>Section 2.2: Why do I need a text editor?</li>
				<li>Section 2.3: Which text editor should I use? </li>
				<li>Section 2.4: How do I use a text editor? </li>
			</ul>

			Chapter 3: The browser
			<ul>
				<li>Section 3.1: What is the browser?</li>
				<li>Section 3.2: Which browser should I use?</li>
				<li>Section 3.3: How do I open a file in the browser? </li>
				<li>Section 3.4: </li>
				<li>Section 3.5: </li>															
			</ul>
			<br>

		</div>
	</div>
</div>
