<div class="sample-wrapper container">
    <h2>Portfolio</h2>

    <div>
        <div class="col-md-6">
            <%= image_tag("portfolio/ao10.png") %>
        </div>
        <div class="col-md-6">
            
        </div>

        <div class="col-md-6">
            
        </div>

        <div class="col-md-6">
            
        </div>

        <div class="col-md-6">
            
        </div>

        <div class="col-md-6">
            
        </div>

    </div>
</div>
