<h2>Tech Writing Samples</h2>

<p><%= link_to "return to home page", root_path %></p>

<div>
	<hr>
	<p><%= link_to "SAMPLE 1: How to Start Programming: The Absolute Beginner's Guide (Mac only)", samples_howto_path  %></p>
	<hr>
	<p><%= link_to "SAMPLE 2: White Paper Samples", samples_whitepaper_path  %></p>
	<hr>
	<p><%= link_to "SAMPLE 3: Fiction", samples_fiction_path  %></p>
	<hr>
</div>