
<div class="js-fun-page-wrapper">
<p><%= link_to "return to home page", root_path %></p>

  <div class="js-intro row">
    <div class="col-md-12">
      <div> So, here is where we talk about JavaScript. Click here</div>
      <div><i class="fa fa-level-down fa-5x" aria-hidden="true"></i></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">

      <div class="form-group row">
        <label for="example-text-input" class="col-xs-2 col-form-label">Enter Your Name</label>
        <div class="col-xs-8">
          <input class="form-control" type="text" value="" id="example-text-input">
        </div>
        <button id="name-submit-button" type="submit" class="btn btn-primary col-xs-2">Send</button>
      </div>

    </div>
    <div class="col-md-6">

    </div>
  </div>
  <div class="row print-name">

  </div>
</div>

