<div class="container">
  <div class="js-fun-page-wrapper">
  <div>
    <div> So, here is where we talk about JavaScript. Click there</div>
    <div><i class="fa fa-level-down fa-5x" aria-hidden="true"></i></div>
    </div>
  </div>
</div>