
class Details extends React.Component {

  _flipTile(someword) {
    return (
      console.log(someword)
      )

  }

  render() {

    return (
      <div>
      <div className="details"> {this.props.detailsinfo} </div>
      <div className="categorylink" onClick={() => this._flipTile(someword="greta")}><a href="">More Info</a></div>

      </div>
      )
  }
}



