@import 'variables';
@import 'mixins';

#sample-wrapper {
  .image-card {
    cursor: pointer;
    margin-bottom: 20px;
    text-align: center;
    img {
      max-width: 260px;
      max-height: 450px;
    }
  }
  .overlay {
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    cursor: pointer; 
  }
  .inner-overlay {
    width: 100%; 
    height: 100%; 
    background-repeat: no-repeat;
    background-size: 43%;
    background-position: top;
    margin: 50px;
  }
  .data-el-2 {

  }
  .data-el-3 {

  }
  .data-el-4 {

  }
  .data-el-5 {

  }
  .data-el-6 {
    height: 1000px;
    background-size: 90%;
    margin: 20px;
  }
  .data-el-7, .data-el-1, .data-el-11, .data-el-7  {
    height: 6000px;
    background-size: 50%;
  }
  .data-el-8 {

  }
  .data-el-9 {

  }
  .data-el-10 {

  }
  .data-el-11 {

  }
}

