<h1>Kacy Hulme</h1>
<p> phone: 512.638.5448</p>
<p> email: kacyhulme at gmail dot com </p>
<h2>My apps</h2>
<h3><%= link_to "Under The Plate", "http://serene-wildwood-9062.herokuapp.com" %></h3>
<h3><%= link_to "That on Which You Focus", "http://arcane-garden-7729.herokuapp.com" %></h3>
<h3><%= link_to "Project Management", "http://secure-sierra-2365.herokuapp.com" %></h3>

