<div id="acting">

  <div class="row">
    <div class="col-md-12">
     <div class="maincontainer">
       <h2>Kacy Hulme</h2>
       <div class="links"><%= link_to "IMDB", "https://www.imdb.me/kacyhulme" %> | Phone: fiveonetwo-sixthreeeight-fivefourfoureight</div>
     </div>
   </div>
 </div>
 <div class="row">
   <div class="col-md-6"><iframe width="560" height="315" src="https://www.youtube.com/embed/4vL47N3DMwE?ecver=1" frameborder="0" allowfullscreen></iframe></div>
   <div class="col-md-6"><div class="image"><%= image_tag("kacyhulmeactingheadshot.jpg") %></div></div>
 </div>
 <div class="row">
   <div class="col-md-12"><div class="image"><%= image_tag("kacyactingbio2017.jpg") %></div></div>
 </div>
</div>