@import 'variables';
@import 'mixins';

.css-fun-page-wrapper {
  background-color: $background-color-light;
  font-family: $font-family-1;
}

.opening-button-wrapper {
  padding-top: 20px;
  margin: 0 50px 50px;
  max-height: auto;
}

.welcome-div {
  display: none;
  width: auto;
  text-align: center;
  margin: 120px 50px 0 0;
  padding-top: 5px;
  background-color: $accent-color-second;
  border-radius: 4px;
  p {
    font-size: 28px;
    font-family: $font-family-2;
  }
}

.spinning-heart {
  transition: transform 4s;
}

.spinning-heart:hover {
  transform: rotate(360deg);
}


.description-div {
  display: none;
}

.pulse {
  margin: 50px auto;
  width: 100%;
  height: 100%;
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color: $background-color-light;
  }  
  25% {
    @include radial-gradient(lighten($accent-color-second, 20%), $background-color-light);
  }
  50% {
    @include radial-gradient(lighten($accent-color-second, 10%), $background-color-light);
  }
  100% {
    @include radial-gradient($accent-color-second, $background-color-light);
  }
}

.stretch {
  height: 250px;
  width: 250px;
  margin: 100px auto;
  text-align: center;
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
  p {
    padding: 45% 10%;
  }
}

@keyframes stretch {
  0% {
    transform: scale(.3);
    background-color: $background-color-dark;
    border-radius: 100%;
  }
  50% {
    background-color: $background-color-light;
  }
  100% {
    transform: scale(1.5);
    background-color: $background-color-dark;
  }
}

.click-me-button {
  background-color: $accent-color-first;
  display: inline-block;
  border-radius: 4px;
  width: 150px;
  height: 55px;
  position: relative;
  overflow: hidden;
}

.click-me-button-message { 
  position: absolute;
  transition: top 0.3s;
  margin-top: 15px; 
  text-align: center;
  width: 150px;
  height: 25px;
}

.initial-message {
  top: 0;
}

.secondary-message {
  top: 100px;
}

.click-me-button:hover .secondary-message {
  top: 0px;
}

.click-me-button:hover .initial-message {
  top: -100px;
}

.or-me-button {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 55px;
  background-color: $accent-color-first;
  border-radius: 4px;
  transition: all 2s;
}

.or-me-button-message {
  position: absolute;
  margin: auto; 
  top: 30%;
  left: 25%;
  transition: all 2s;
}

.or-me-button:hover {
  background-color: $accent-color-second;
  color: red;
  border-radius: 20px;
  width: 300px;
  height: 110px;
  text-align: center;
}

.or-me-button:hover > .or-me-button-message {
  top: 40%;
  left: 36%;
}

// modal & overlay
.show-directions-button {
  margin-left: 50px;
  text-align: center;
  background-color: $accent-color-first;
  display: inline-block;
  border-radius: 4px;
  width: 150px;
  height: 70px;
  padding: 20px 5px;
  display: none;
}

.outer-wrapper {
  visibility: hidden;
}

.outer-wrapper:target {
  position: fixed;
  visibility: visible;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 9999;
}

.inner-directions { 
  position: absolute;
  background-color: lightgrey;
  margin: 200px;
}

.inner-directions > p {
  margin: 25px;
}

.close {
  margin: 8px 10px 2px 2px
}

.clear {
  clear: both;
}

.big-box-wrapper {
  margin-top: 1250px; 
  background-color: red;
}

.big-boxes {
  border: 1px black solid; 
  width: 30%; 
  float: left; 
  margin: 20px; 
  padding: 20px;
}

.small-box-wrapper {
  border: 2px solid orange; 
  background-color: purple;
}

.small-boxes {
  width: 100px; margin: 10px; 
  height: 100px; 
  border: 3px solid black; 
  float: left;
}

