@import 'variables';
@import 'mixins';

html {
  height: 100%
}

.opening-button-wrapper {
  margin: 50px;
  max-height: auto;
}

.intro-div {
  display: none;
  width: auto;
  text-align: center;
  border: 2px solid black;
  margin: 120px 50px 0 0;
  padding-top: 5px;
  background-color: $accent-color-second;
  border-radius: 4px;
  p {
    font-size: 28px;
    font-family: $font-family-2;
  }
}

.description-div {
  display: none;
}

.pulse {
  width: 100%;
  height: 100%;
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}

.stretch {
  height: 250px;
  width: 250px;
  margin: 100px auto;
  text-align: center;
  background-color: $accent-color-second;
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
  p {
    padding: 45% 10%;
  }
}

@keyframes stretch {
  0% {
    transform: scale(.3);
    background-color: $accent-color-second;
    border-radius: 100%;
  }
  50% {
    background-color: $accent-color-first;
  }
  100% {
    transform: scale(1.5);
    background-color: $background-color-light;
  }
}

// click me button
.button {
  background-color: $accent-color-first;
  color: white;
  display: inline-block;
  border-radius: 4px;
  width: 150px;
  height: 55px;
  position: relative;
  overflow: hidden;
}

.button-message { 
	position: absolute;
	transition: top 0.3s;
  margin-top: 15px; 
  text-align: center;
  width: 150px;
  height: 25px;
}

.initial-message {
	top: 0;
}

.secondary-message {
  top: 100px;
  color: black;
}

.button:hover .secondary-message {
  top: 0px;
}

.button:hover .initial-message {
	top: -100px;
}

// overlay
.modal-button {
  margin-left: 50px;
  text-align: center;
  background-color: $accent-color-first;
  color: black;
  display: inline-block;
  border-radius: 4px;
  width: 150px;
  height: 55px;
  padding-top: 18px;
}

.show-directions {
  display: none;
}

.outer-wrapper {
  visibility: hidden;
}

.outer-wrapper:target {
  visibility: visible;
  width: 100%;
  height: 100%;
  background-color: red;
}

.directions {
  width: 20px;
  height: 20px;
}



// .modalDialog {
//   position: fixed;
//   font-family: Arial, Helvetica, sans-serif;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background: white;
//   z-index: 99999;
//   opacity:0;
//   visibility: hidden;
//   -webkit-transition: opacity 400ms ease-in;
//   -moz-transition: opacity 400ms ease-in;
//   transition: opacity 400ms ease-in;
//   pointer-events: none;
// }

// .modalDialog:target {
//   opacity:1;
//   pointer-events: auto;
// }

// .modalDialog > div {
//   visibility: visible; 
//   width: 400px;
//   position: relative;
//   margin: 10% auto;
//   padding: 5px 20px 13px 20px;
//   border-radius: 10px;
//   background: red;
//   //background: -moz-linear-gradient(#fff, #999);
//   //background: -webkit-linear-gradient(#fff, #999);
//   //background: -o-linear-gradient(#fff, #999);
// }




