@import 'variables';
@import 'mixins';

// html {
//   height: 100%
// }

.opening-button-wrapper {
  margin: 50px;
  max-height: auto;
}

.intro-div {
  display: none;
  width: auto;
  text-align: center;
  border: 2px solid black;
  margin: 120px 50px 0 0;
  padding-top: 5px;
  background-color: $accent-color-second;
  border-radius: $radius;
  p {
    font-size: 28px;
    font-family: $font-family-2;
  }
}

.description-div {
  display: none;
}

.pulse {
  width: 100%;
  height: 100%;
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}

.stretch {
  height: 250px;
  width: 250px;
  margin: 100px auto;
  text-align: center;
  background-color: $accent-color-second;
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
  p {
    padding: 45% 10%;
  }
}

@keyframes stretch {
  0% {
    transform: scale(.3);
    background-color: $accent-color-second;
    border-radius: 100%;
  }
  50% {
    background-color: $accent-color-first;
  }
  100% {
    transform: scale(1.5);
    background-color: $background-color-light;
  }
}

.click-me-button {
  background-color: $accent-color-first;
  color: white;
  display: inline-block;
  border-radius: $radius;
  width: 150px;
  height: 55px;
  position: relative;
  overflow: hidden;
}

.click-me-button-message { 
	position: absolute;
	transition: top 0.3s;
  margin-top: 15px; 
  text-align: center;
  width: 150px;
  height: 25px;
}

.initial-message {
	top: 0;
}

.secondary-message {
  top: 100px;
  color: black;
}

.click-me-button:hover .secondary-message {
  top: 0px;
}

.click-me-button:hover .initial-message {
	top: -100px;
}

.or-me-button {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 55px;
  background-color: $accent-color-first;
  color: white;
  border-radius: $radius;
  transition: all 2s;
}

.or-me-button-message {
  position: absolute;
  margin: auto; 
  top: 30%;
  left: 25%;
  transition: all 2s;
}

.or-me-button:hover {
  background-color: $accent-color-second;
  color: $accent-color-first;
  border-radius: 20px;
  width: 300px;
  height: 110px;
  text-align: center;
}

.or-me-button:hover > .or-me-button-message {
  top: 40%;
  left: 36%;
}

#or-me-button {
 visibility: hidden;
}

#or-me-button:target{
  visibility: visible;
  background-color: $accent-color-first;
  float: left;
  border-radius: $radius;
}

#or-me-button > div {
  margin: 10px 10px 10px 25px;
  border: 1px solid black;
  width: 30%;
  float: left;
  background-color: $accent-color-first;
  border-radius: $radius;
}

#or-me-button > div > p {
  padding: 25px;
}

#or-me-button > div:hover {
  transform: skew(15deg, 10deg);
}

// modal & overlay
.show-directions-button {
  margin-left: 50px;
  text-align: center;
  background-color: $accent-color-first;
  color: black;
  display: inline-block;
  border-radius: $radius;
  width: 150px;
  height: 70px;
  padding: 20px 5px;
  display: none;
}

.outer-wrapper {
  visibility: hidden;
}

.outer-wrapper:target {
  position: fixed;
  visibility: visible;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 9999;
}

.inner-directions { 
  position: absolute;
  background-color: lightgrey;
  margin: 200px;
}

.inner-directions > p {
  margin: 25px;
}

.close {
  margin: 8px 10px 2px 2px
}