@import 'variables';
@import 'mixins';


.js-fun-page-wrapper {
  height: 1200px;
  background-color: white;
  font-family: $font-family-1;
  margin: 50px;
}

.js-intro {
  div {
    float: left;
  }
  div:first-of-type {
    padding-top: 5px;
  }
  div:last-of-type {
    padding-left: 10px;
  }
}
