@import 'variables';
@import 'mixins';


.js-fun-page-wrapper {
  background-color: $background-color-light;
  font-family: $font-family-1;
  padding: 20px;
}

.js-intro {
  div {
    float: left;
  }
  div:first-of-type {
    float: left;
    padding-top: 5px;
  }
  div:last-of-type {
    float: left;
    padding-left: 10px;
  }
}

.row.print-name {
  font-size: 3em;
}
