@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor;
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor);
}

@mixin radial-gradient($fromColor, $toColor) {
  background-color: $fromColor;
  background: -webkit-radial-gradient(center, circle cover, $fromColor 0%, $toColor 100%);
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}