@import 'variables';
@import 'mixins';

.cells {
  background-color: white;
  padding: 5px 5px 15px 5px;
  margin: 7px 4px;
  border-radius: 4px;
  opacity: 0;
}

.cells:hover {
  border: 3px solid lighten($accent-color-first, 8%);
  background: $accent-color-first;
  box-shadow: 10px 10px 5px #545454;  //height: 299px;
  margin-right: 3px; 
  margin-top: -2px;
}

.bottom-row {
  height: 240px;
  margin-bottom: 40px; 
}

#twttr-sandbox-0 {
  height: 720px;
}
#twitter-widget-0 {
  height: 720px;
}

.kacy-pic.cell > img {
  max-height: 100%;
  max-width: 100%;
  padding-top: 16px;

}

.infiniti-pic.cell > img {
  margin-left: 20px;
}
