$accent-color-first: #FF7A7A; // light pinkish
$accent-color-second: #FFD37A; // yellow

$background-color-dark: #005D5D; // darker aqua
$background-color-light: #B0E9E9; // light aqua
$border-color: darkslategrey; // darker greyish
$light-border-color: #d3d3d3; // light greyish

$antique-white: #FAEBD7; // 

$font-family-1: 'Open Sans', sans-serif;
$font-family-2: 'Kaushan Script', cursive;
$font-family-3: 'Playfair Display SC', serif;
$open-sans-conds-font: 'Open Sans Condensed', sans-serif;

$just-me-font-family: 'Just Me Again Down Here', cursive;
$rock-salt-font-family: 'Rock Salt', cursive;
$raleway-font-family: 'Raleway', sans-serif;
$nothing-font: 'Nothing You Could Do', cursive;
$finger-font: 'Finger Paint', cursive;
$east-sea-font: 'East Sea Dokdo', cursive;

$radius: 4px;

$dark-red: #941414; // dark red
$magenta: #912464; // magenta
$light-tan: #9f5045; // light tan
$orange: #cf3821; // orange
$dark-brown: #794044; // dark brown

$dark-grey: #4c4c4c;
$light-grey: #cccccc;

$turqoise: #44ccbe;
$dark-yellow: #ccbe44;
$hot-pink: #be44cc;