$accent-color-first: #FF7A7A; // light pinkish
$accent-color-second: #FFD37A; // yellow

$background-color-dark: #005D5D; // darker aqua
$background-color-light: #B0E9E9; // light aqua
$border-color: darkslategrey; // darker greyish
$light-border-color: #d3d3d3; // light greyish

$antique-white: #FAEBD7; // 

$font-family-1: 'Open Sans', sans-serif;
$font-family-2: 'Kaushan Script', cursive;
$font-family-3: 'Playfair Display SC', serif;

$radius: 4px;
