// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row.top {
  margin-top: 10px;
}

body {
  background-image: asset_url('aquapattern.png');
}

.container.body {
  margin-top: 20px;
}

.thumbnail.top {
  height: 180px;
}

.thumbnail.bottom {
  height: 400px;
}

#btnbottom {
  margin-bottom: 4px;
}


.img {
  margin-top: 20px;
}
