// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#body {
	margin-top: 20px;
}

#img {
	height: 220px;
	width: 250px;
}
.img {
	height: 220px;
	width: 250px;
	overflow: hidden;
	float: center;
}

#btnbottom {
	margin-bottom: 10px;
}

.thumbnail {
	height: 170px;
}

#longerthumbnail {
	height: 190px;
}
