// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row.top {
  margin-top: 10px;
}

.container.body {
  margin-top: 20px;
}

body {
  background-image: asset_url('aquapattern.png');
}

#btnbottom {
  margin-bottom: 4px;
}

//thumbnails customization

.thumbnail {
  height: 289px;
}