@import 'mixins';
@import 'variables';







/*react styling*/

html,
body {
    background-color: $background-color-light;
}

.fa {
    font-size: 6px !important;
    padding-right: .3em;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

a:link {
    color: #7d4e73;
}

a:visited {
    color: #bc6972;
}

a:hover {
    color: #dc7772;
}

a:active {
    color: #bc6972;
}

.mainbody {
    color: black
}

.home-link {
    margin-top: 20px;
    background-color: white;
    width: 150px;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    box-shadow: 7px 7px 7px grey;
    border-radius: 7px;
}

.tiles {
    border: 5px solid $background-color-light;
    background: $antique-white;
    height: 270px;
    text-align: center;
    border-radius: 16px;
    cursor: pointer;
}

.tiles:hover {}

h1 {
    margin: 50px 0;
    font-family: $font-family-3;
    color: $background-color-dark;
}

.innerdiv {
    font-size: 34px;
    font-family: $font-family-3;
    color: $background-color-dark;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.losangeles {
    background-image: url('losangelesmap.jpg');
    background-size: cover;
}

.detroit {
    background-image: url('detroit.jpg');
    background-size: cover;
    background-position: 33%;
}

.kacy-img {
    background-image: url('headshot.jpg');
    background-size: 200%;
    background-position: 50% 25%;
}

.portfolio-slider {
    background-color: darken($background-color-light, 10%);
    border-radius: 9px;
    img {
        padding: 15px;
        max-width: 95%;
        max-height: 100%;
    }
}

.url-link {
    text-align: center;
    a {
        color: white;
        font-family: $font-family-1;
    }
}

.nav-arrow {
    background-color: $accent-color-first;
    font-size: 26px;
    box-shadow: -2px 2px 14px red inset;
    border-radius: 5px;
}