
@import 'mixins';
@import 'variables';
@import 'thumbnail';


.row.top {
  margin-top: 10px;
}

.container.body {
  margin-top: 20px;
}

body {
  @include radial-gradient($background-color-light, $background-color-dark); 
}

#btnbottom {
  margin-bottom: 4px;
  background: $accent-color-second;
}

@media only screen and (max-width: 1600px) {
  .pic-header p {
    text-align: center;
    background-color: lighten($background-color-dark, 20%);
    border-radius: 6px;
    padding: 10px;
    height: 150px;
  }
}

@media only screen and (max-width: 992px) {
  .pic-header {
    max-height: 25%;
    clear: both;
  }
}

.add-border {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.add-border-bottom {
  border-bottom: 1px solid black;
}

.add-border-left {
  border-left: 1px solid black;
}