@import 'mixins';
@import 'variables';


a:link {
  color: darkblue;
}

a:visited {
  color: $background-color-dark;
}

a:hover {
  color: $border-color;
}

a:active {
  color: $background-color-dark;
}

h2 {
  text-align: center;
  font-family: $font-family-2;
}

.container.body {
  margin-top: 20px;
}

.portfolio-page-wrapper {
  @include radial-gradient($background-color-dark, $background-color-light); 
  font-family: $font-family-1;
  padding-top: 20px;
}

.btnbottom {
  margin-bottom: 4px;
  background: $accent-color-second;
}

@media only screen and (max-width: 1600px) {
  .pic-header p {
    text-align: center;
    background-color: lighten($background-color-dark, 20%);
    border-radius: 6px;
    padding: 30px 10px 10px 10px;
    margin: 0 15px 0 80px;
    height: 150px;
  }
}

@media only screen and (max-width: 992px) {
  .pic-header {
    max-height: 25%;
    margin: 0 58px 10px 0;
    clear: both;
  }
}

.img-style {
  padding-top: 20px;
  padding-bottom: 20px; 
  height: 200px;
  width: 350px; 
}

.myprojects > .cells > div {
  border-bottom: 1px solid $accent-color-first;
  padding: 2.5px;
}



/*react styling*/

html, body {
  font-family: $font-family-2;
  background-color: #b55f63 !important;
  color: #a87672;
}


.mainbody {
 font-size: 12px;
 position: relative;
 opacity: .5;
 z-index: 1;
}

.overlay, .overlay > div   {
  color: black;
  margin-top: 30px;
  position: absolute;
  top: 0;
  z-index: 2;
  background: transparent;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.overlay > div {
  height: 200px;
  margin-bottom: 3px;
}

.innerdiv {
  font-family: $font-family-1;
  border: .5px solid black;
  height: 200px;
  width: 400px;
  text-align: center;
  background-color: #FAEBD7; /*antique white*/
  margin-right: 2px;
  vertical-align: middle;
  padding: 20px;
  font-size: 1.5em;
}



