
@import 'mixins';
@import 'variables';
@import 'thumbnail';


.row.top {
  margin-top: 10px;
}

.container.body {
  margin-top: 20px;
}

body {
  @include radial-gradient($background-color-light, $background-color-dark); 
}

#btnbottom {
  margin-bottom: 4px;
  background: $accent-color-second;
}
