h1, h2 {
  font-family: 'Kaushan Script', cursive;
}

body {
  background-color: #e5e5e5;
  font-family: 'Open Sans', sans-serif;
}

.header p {
  margin-left: 10px; 
}

.my-projects, .my-skills, .my-links, .my-hobbies {
  //background-color: #B0E9E9;
  margin: 30px 10px; 
  padding: 20px ;
  text-align: center;
  background-image:  radial-gradient(350px at 375px, white 20px, orange 200px, black 360px); 
}

.col-md-8 {
  background-color: black;
}