@import 'variables';

h1, h2 {
  font-family: 'Kaushan Script', cursive;
}

.container {
  margin-top: 20px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  background-color: $background-color-light;
  margin-bottom: 20px;
  h1, p {
    float: left;
    margin-right: 25px;
  }

  h1 {
    padding-bottom: 10px;
  }

  p {
    padding-top: 35px;
  }
}

.col-md-8 {
  background-color: $light-border-color;
}

.col-md-2 {
  height: 500px;
}

.my-projects, .my-skills, .my-links, .my-hobbies {
  margin: 1px 5px; 
  padding: 20px ;
  text-align: center;
  //background-image:  radial-gradient(375px, $background-color-light 50px, $background-color-dark 360px); 
}

.nav-pills > li {
  float: none;
}

.twitter-widget-0 {
  max-height: 500px;
}



