@import 'mixins';
@import 'variables';
/*

a:link {
  color: darkblue;
}

a:visited {
  color: $background-color-dark;
}

a:hover {
  color: $border-color;
}

a:active {
  color: $background-color-dark;
}

h2 {
  text-align: center;
  font-family: $font-family-2;
}

.container.body {
  margin-top: 20px;
}

.portfolio-page-wrapper {
  @include radial-gradient($background-color-dark, $background-color-light); 
  font-family: $font-family-1;
  padding-top: 20px;
}

.btnbottom {
  margin-bottom: 4px;
  background: $accent-color-second;
}

@media only screen and (max-width: 1600px) {
  .pic-header p {
    text-align: center;
    background-color: lighten($background-color-dark, 20%);
    border-radius: 6px;
    padding: 30px 10px 10px 10px;
    margin: 0 15px 0 80px;
    height: 150px;
  }
}

@media only screen and (max-width: 992px) {
  .pic-header {
    max-height: 25%;
    margin: 0 58px 10px 0;
    clear: both;
  }
}

.img-style {
  padding-top: 20px;
  padding-bottom: 20px; 
  height: 200px;
  width: 350px; 
}

.myprojects > .cells > div {
  border-bottom: 1px solid $accent-color-first;
  padding: 2.5px;
}

*/

/*react styling*/ 

html, body {
  font-family: $font-family-2;
  background-color: #b55f63 !important;
  color: #B08380;
}

.fa {
  font-size: 6px !important;
  padding-right: .3em;
  vertical-align: middle;
}

/*mexican sunset: http://www.color-hex.com/color-palette/37865*/
/* unvisited link */
a:link {
  color: #7d4e73;
}

/* visited link */
a:visited {
  color: #bc6972;
}

/* mouse over link */
a:hover {
  color: #dc7772;
}

/* selected link */
a:active {
  color: #bc6972;
}

.mainbody {
 font-size: 16px;
 position: relative;
 opacity: .5;
 z-index: 1;
 text-align: center;
 width: auto;
}

.overlay   {
  color: #573650; /*http://www.color-hex.com/color/7d4e73*/
  margin-top: 4.1em;
  position: absolute;
  top: 0;
  z-index: 2;
  background: transparent;
  width: auto;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.innerdiv {
  font-family: $font-family-1;
  border: 1px solid #fbf1e3; /*or maybe use #fcf3e7*/
  height: 15em;
  width: 30em;
  text-align: center;
  background-color: #FAEBD7; /*antique white*/
  vertical-align: middle;
  padding: 10px;
  font-size: 1em;
}

.innerdiv h3 {
  font-family: $font-family-3;
  text-transform: uppercase;
  font-size: 1.8em;
  margin-top: 10px;
}

.innerdiv:nth-of-type(2 ) h3{
  font-size: 3.3em;
}

/*.headshot img {
  height: 13em;
}*/

.linkdiv {
  line-height: 1.75em;
}

.socialmedia {

}

.contactinfo {
}



@media only screen and (max-width: 992px) {
  .innerdiv {
    margin-left: 2em;
    margin-right: 2em;
    width: 25em;
  }
}


/*.diagline {
  width: 100%;
  height: 100%;
  position: relative;
  background: repeating-linear-gradient(
    45deg,
     #FAEBD7,
    #c17a7d 12px,
    transparent 15px,
    transparent 10px
    );
}

.innerdiv:nth-of-type(1), 
.innerdiv:nth-of-type(3), 

{
  background-color: none !important;
  padding: inherit !important;
  background: none;
  border: none;
}*/
/*
.innerdiv {
  background-image: url("topography.png");
  background-repeat: repeat;
  background-attachment:fixed;
}*/

.innerdiv:nth-of-type(1) {
  background-image: url("calimap.jpg");
  background-position: 3% 45%;
  background-size: 300%;
}

.innerdiv:nth-of-type(3) {
  background-image: url("detroit.jpg");
  background-position: 96% 97%;
  background-size: 125%;
}

.headshot {
  background-image: url("headshot.jpg");
  background-position: 50% 30%;
  background-size: 75%;
  background-repeat: no-repeat;
  height: 15em;
}